.products{
    display: grid;
    grid-template-rows: auto 3fr;
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.products__filters{
    height:min-content;
}


.products__main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 50px;
    padding-left: 100px;
}